:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f42;
  --hero-background: #2e2f42;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--text);
}
ul {
  list-style-type: none;
}
button {
  cursor: pointer;
}
a{
  text-decoration: none;
}
.contacts {
  color: var(--dark);
  font-weight: 400;
    font-size: 16px;
    line-height: 1.5px;
font-style: normal;
}
.contacts:hover {
  color: var(--pressed-state);
}
.head_nav {
  color: var(--dark);
font-weight: 500;
  font-size: 16px;
  line-height: 1.5px;
  letter-spacing: 0.02em;
}
.head_nav:hover {
  color: var(--primary-state);
}
.main_button {
  background: var(--light);
  color: var(--pressed-state);
  border: none;
  font-weight: 500;
    font-size: 16px;
    line-height: 1.5px;
    align-items: center;
    letter-spacing: 0.04em;
  
}
.main_button:hover {
  background: var(--pressed-state);
  color: var(--light);
}
.logo_header {
font-size: 18px;
  line-height: 1.4px;
 
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
}
.logo_header_span {
  
font-size: 18px;
  line-height: 1.4px;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark);
}
.order_service {
  color: white;
  background-color: var(--primary-brand);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 500;
    font-size: 16px;
    line-height: 1.5px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
  
    color: #FFFFFF;
}
.order_service:hover {
  background-color: var(--pressed-state);
}
.first_title {
font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1px;
  text-align: center;
  letter-spacing: 0.02em;
  color:#fff;
}
.first_section {
  background: var(--hero-background);
}
.footer {
  background: var(--modal-overlay);
}
.second_text {
  font-weight: 400;
    font-size: 16px;
    line-height: 1.5px;
    letter-spacing: 0.02em;
  color: var(--text);
}
.second_title {
  font-weight: 500;
    font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.thirt_title {
  font-weight: 700;
    font-size: 36px;
  line-height: 1.1px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.four_section {
  background: var(--light);
}
.four_title {
  font-weight: 700;
    font-size: 36px;
  line-height: 1.1px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
}
.four_team_name {
  font-weight: 500;
    font-size: 20px;
  line-height: 1.2px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.four_profesion {
  font-weight: 400;
    font-size: 16px;
  line-height: 1.5px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text);
}
.logo_footer {
 
font-size: 18px;
  line-height: 1.4px;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
}
.logo_footer_span {

  font-size: 18px;
    line-height: 1.4px;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  color: var(--light);
}

.portfolio_title {
  font-weight: 500;
    font-size: 20px;
  line-height: 1.2px;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.portfolio_text {
font-weight: 400;
  font-size: 16px;
  line-height: 1.5px;
  letter-spacing: 0.02em;
  color: var(--text);
}
